<header>New Survey</header>

<article class="controls">
  <%= link_to "Back", surveys_path %>
</article>

<article class="survey">
  <section class="new-survey-form">



    <%= nested_form_for @survey do |survey_form| %>
      <% if @survey.errors.any? %>
        <div class="errors">
         <ul>
            <% @survey.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= survey_form.label :title, "Survey title:" %>
      <%= survey_form.text_field :title %>

      <div class="questions">

        <%= survey_form.fields_for :questions %>
        <p><%= survey_form.link_to_add "Add question", :questions %></p>

      </div>


      <%= survey_form.submit "Create", class: "create-survey button" %>
    <% end %>
  </section>
</article>