<header><%= @survey.title %></header>

<article class="survey">
  <div class="survey-background">
    <div class="exercise-container">
      <div class="page-container"></div>
      <section class="navigation">
        <%= link_to 'See results', survey_results_path(survey_id: @survey.id) %>
      </section>
    </div>
  </div>

</article>


<script>
  $(document).ready(function(){
      $(".choices .choice").click(function(){

          $(this).siblings(".selected").removeClass("selected");
          $(this).addClass("selected");
          var chosenId = $(this).data('id');
          $.post("<%= users_answers_path %>", { choice_id: chosenId });
      });

  });

</script>



<div class="templates">
  <div class="survey-page">
        <section class="question">
          <div class="text">{{= text }}</div>
          <div class="choices">
            {{ $(choices).each(function(i, choice) { }}
                <div class="choice" data-id="{{= choice.id }}">
                  <div class="background">
                    <div class="text">{{= choice.text }}</div>
                  </div>
                </div>
            {{ }) }}
          </div>
        </section>
  </div>
</div>

<script>
    function DisplaySurvey() {
        this.init()
    }

    DisplaySurvey.prototype = {
        init: function () {
            var pages = [];
            <% @survey_questions_and_choices.each_with_index do |question, i| %>
                pages.push(new SurveyPage(<%= question.to_json.html_safe %>, <%= i + 1 %>, <%= @survey_questions_and_choices.count %>, '<%= users_answers_url %>'));
            <% end %>
            new Survey(pages, $('.page-container'), $('.navigation a'), '/results');
        }
    };

    $(function () {
        new DisplaySurvey();
    });


</script>
